<div class="signup-form">

  <%= form_with(model: user, local: true) do |form| %>
    <% if user.errors.any? %>
      <div id="error_explanation">
        <h2><%= pluralize(user.errors.count, "error") %> prohibited this user from being saved:</h2>

        <ul>
        <% user.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
        </ul>
      </div>
    <% end %>

    <div class="field">
      <%= form.text_field :username, class: "form-control" , id: :user_username, placeholder: "Username", style: 'width: 100%; border-radius:2px; border-shadow:none; border:solid 1px; margin:1.8px;'   %>
    </div>

    <div class="field">
      <%= form.password_field :password, class: "form-control" , id: :user_password, placeholder: "Password", style: 'width: 100%; border-radius:2px; border-shadow:none; border:solid 1px; margin:1.8px;'   %>
    </div>

    <div class="field">
      <%= form.password_field :password_confirmation, class: "form-control" , id: :user_password_confirmation, placeholder: "Confirm Password", style: 'width: 100%; border-radius:2px; border-shadow:none; border:solid 1px; margin:1.8px;'   %>
    </div>

    <div class="field">
      <%= form.text_field :name, class: "form-control" , id: :user_name, placeholder: "Full Name", style: 'width: 100%; border-radius:2px; border-shadow:none; border:solid 1px; margin:1.8px;'   %>
    </div>

    <div class="field">
      <%= form.text_field :mother_name, class: "form-control", id: :user_mother_name, placeholder: "Mother's Name", style: 'width: 100%; border-radius:2px; border-shadow:none; border:solid 1px; margin:1.8px;'   %>
    </div>

    <div class="field">
      <%= form.text_field :father_name, class: "form-control", id: :user_father_name, placeholder: "Father's Name", style: 'width: 100%; border-radius:2px; border-shadow:none; border:solid 1px; margin:1.8px;'   %>
    </div>

    <div class="field">
      <%= form.label :dob %>
      <%= form.date_select :dob, class: "form-control", id: :user_dob, placeholder: "Date of birth", style: 'width: 100%; border-radius:2px; border-shadow:none; border:solid 1px; margin:1.8px;'   %>
    </div>

    <div class="field">
      <%= form.number_field :aadhar_no, class: "form-control", id: :user_aadhar_no, required: true, wrapper: false, placeholder: "Aadhar Card Number", style: 'width: 100%; border-radius:2px; border-shadow:none; border:solid 1px; margin:1.8px;'   %>
      <div class="valid-feedback">Looks good!</div>
      <div class="invalid-feedback">
        This Aadhar Number has already been taken, please enter a different Aadhar Number
      </div>
    </div>

    <div class="field">
      <%= form.text_field :pan_no, class: "form-control", id: :user_pan_no, placeholder: "Pan Card Number", style: 'width: 100%; border-radius:2px; border-shadow:none; border:solid 1px; margin:1.8px;'   %>
    </div>

    <div class="field">
      <%= form.number_field :phno, class: "form-control", id: :user_phno, placeholder: "Contact Number", style: 'width: 100%; border-radius:2px; border-shadow:none; border:solid 1px; margin:1.8px;'   %>
    </div>

    <div class="field">
      <%= form.text_field :adress, class: "form-control", id: :user_adress, placeholder: "Permanent Address", style: 'width: 100%; border-radius:2px; border-shadow:none; border:solid 1px; margin:1.8px;'   %>
    </div>

    <div class="field">
      <%= form.text_field :nationality, class: "form-control", id: :user_nationality, placeholder: "Nationality", style: 'width: 100%; border-radius:2px; border-shadow:none; border:solid 1px; margin:1.8px;'   %>
    </div>

    <div class="field">
      <%= form.label :photo %>
      <%= form.file_field :photo, class: "form-control", id: :user_photo %>
    </div>

    <div class="field">
      <%= form.label :sign %>
      <%= form.file_field :sign, class: "form-control", id: :user_sign %>
    </div>

    <div class="actions">
      <%= form.submit "Sign Up", class: 'button', style:  'color:white; width: 100%; border-radius:2px; background-color:#1190DA; padding:5px; border-shadow:none; border:solid 1px blue; margin:1.8px;' %>
    </div>


  <% end %>

</div>
<% # type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js" %>
<script>
  var url = new URL('<%= validate_aadhar_users_url %>');
  var field = $("#user_aadhar_no");

  field.change(async function(){
    // If the field is not filled or has an invalid e-mail address
    if (!field.is(':valid'))
        return;

    params = {aadhar_no: field.val()};
    url.search = new URLSearchParams(params).toString();

    let response = await fetch(url);

    if (response.ok) {
      let json = await response.json();

      if (json.message == 'unique')
        field.removeClass('is-invalid').addClass('is-valid');
      else
        field.removeClass('is-valid').addClass('is-invalid');
    } else
      alert("HTTP-Error: " + response.status);
  });
</script>
