<div class="jumbotron">

    <div id="wrapper">
      <div id="first">
            <%= image_tag( @user.photo, :size => "260x180", :crop => :fill) %>
      </div>
      <div id="second">
          <%= image_tag( @user.sign, :size => "260x180", :crop => :fill) %>
      </div>
      <div id="third">
        <strong>Username:</strong>
        <%= @user.username %><br>

        <strong>Name:</strong>
        <%= @user.name %><br>

        <strong>Mother name:</strong>
        <%= @user.mother_name %><br>

        <strong>Father name:</strong>
        <%= @user.father_name %><br>

        <strong>Dob:</strong>
        <%= @user.dob %><br>

        <strong>Aadhar no:</strong>
        <%= @user.aadhar_no %><br>

        <strong>Pan no:</strong>
        <%= @user.pan_no %><br>

        <strong>Cos:</strong>
        <%= @user.cos_id %><br>

        <strong>Phno:</strong>
        <%= @user.phno %><br>

        <strong>Adress:</strong>
        <%= @user.adress %><br>

        <strong>Nationality:</strong>
        <%= @user.nationality %><br>
      </div>
    </div>
</div>

<%= link_to 'Edit', edit_user_path(@user) %> |
<%= link_to 'Back', users_path %>
