<p id="notice"><%= notice %></p>

<div class="jumbotron" style="background-color:grey, margin:0px, padding:0px">


<h1>Completed requests</h1>


<div class="jumbotron" style="background-color:#ffb3b3 ">

<h2>Requested from you</h2>
<table class="table">
  <thead>
    <tr>
      <th>Sender ph. no</th>
      <th>Amount</th>
      <th>Message</th>
      <th>Requested at</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @sent_requests.each do |r| %>
      <tr>
        <td><%= r.sender_phno %></td>
        <td><%= r.amount %></td>
        <td><%= r.message %></td>
        <td><%= r.created_at %></td>
        <td><%= link_to 'Show', r %></td>
      </tr>
    <% end %>
  </tbody>
</table>

</div>


<div class="jumbotron" style="background-color:#b3d9ff">


<h2>Sent by you</h2>
<table class= "table">
  <thead>
    <tr>
      <th>His ph no</th>
      <th>Amount</th>
      <th>Message</th>
      <th>Requested at</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @received_requests.each do |r| %>
      <tr>
        <td><%= r.requester.phno %></td>
        <td><%= r.amount %></td>
        <td><%= r.message %></td>
        <td><%= r.created_at %></td>
        <td><%= link_to 'Show', r %></td>
      </tr>
    <% end %>
  </tbody>
</table>

</div>
</div>
