<%= form_with(model: transaction, local: true) do |form| %>
  <% if transaction.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(transaction.errors.count, "error") %> prohibited this transaction from being saved:</h2>

      <ul>
      <% transaction.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <%= form.hidden_field :sender_id, value: current_user.id %> 
  <div class="field">
    <%= form.label :receiver_id, "Receiver Account No" %>
    <%= form.number_field :receiver_id, id: :transaction_receiver_id %>
  </div>

  <div class="field">
    <%= form.label :transaction_amount %>
    <%= form.number_field :transaction_amount, id: :transaction_transaction_amount %> 

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>

